# repository
repository.client.factory = com.openteach.diamond.repository.client.impl.database.DatabaseRepositoryClientFactory

repository.client.local.cache.enable = true
repository.client.local.cache.type = MEMORY_LRU
repository.client.local.cache.maxEntries = 4096
#repository.client.local.cache.maxEntriesInMemory = 1024

repository.client.certificate.type = database
repository.client.certificate.appName = diamond
repository.client.certificate.secret = 378206
repository.client.certificate.namespace = diamond
repository.client.certificate.username = repository
repository.client.certificate.password = repository
repository.client.certificate.url = jdbc:mysql://localhost:3306/repository
repository.client.certificate.driverClassName = com.mysql.jdbc.Driver

# metadata
metadata.read.factory = com.openteach.diamond.metadata.factory.DefaultMetadataReadServiceFactory
metadata.write.factory = com.openteach.diamond.metadata.factory.DefaultMetadataWriteServiceFactory

# addressing
addressing.factory = com.openteach.diamond.address.factory.DefaultAddressingServiceFactory

# rpc
rpc.provider.factory = com.openteach.diamond.rpc.impl.DefaultRPCProtocolProviderFactory

# router

router.factory = com.openteach.diamond.router.impl.DefaultServiceRouterFactory

# 

