# diamond
diamond.client.factory = com.openteach.diamond.rpc.protocol.diamond.DefaultRPCProtocol4ClientFactory
diamond.server.factory = com.openteach.diamond.rpc.protocol.diamond.DefaultRPCProtocol4ServerFactory